@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 205 25% 95%;
    --foreground: 205 5% 0%;
    --card: 205 25% 90%;
    --card-foreground: 205 5% 10%;
    --popover: 205 25% 95%;
    --popover-foreground: 205 95% 0%;
    --primary: 205 44% 32%;
    --primary-foreground: 0 0% 100%;
    --secondary: 205 52% 23%;
    --secondary-foreground: 0 0% 0%;
    --muted: 167 25% 85%;
    --muted-foreground: 205 5% 35%;
    --accent: 167 25% 80%;
    --accent-foreground: 205 5% 10%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 205 5% 90%;
    --border: 205 25% 50%;
    --input: 205 25% 18%;
    --ring: 205 44% 32%;
    --radius: 0.75rem;
    --sidebar-background: 205 25% 95%;
    --sidebar-foreground: 205 5% 0%;
    --sidebar-primary: 167 25% 80%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 205 44% 32%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 205 25% 50%;
    --sidebar-ring: 205 44% 32%;
  }
  .dark {
    --background: 205 25% 5%;
    --foreground: 205 5% 90%;
    --card: 205 25% 0%;
    --card-foreground: 205 5% 90%;
    --popover: 205 25% 5%;
    --popover-foreground: 205 5% 90%;
    --primary: 205 44% 32%;
    --primary-foreground: 0 0% 100%;
    --secondary: 203 33% 67%;
    --secondary-foreground: 0 0% 100%;
    --muted: 167 25% 15%;
    --muted-foreground: 205 5% 60%;
    --accent: 167 25% 15%;
    --accent-foreground: 205 5% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 205 5% 90%;
    --border: 205 25% 18%;
    --input: 205 25% 18%;
    --ring: 205 44% 32%;
    --radius: 0.75rem;
    --sidebar-background: 205 25% 5%;
    --sidebar-foreground: 205 5% 90%;
    --sidebar-primary: 167 25% 15%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 205 44% 32%;
    --sidebar-accent-foreground: 205 5% 90%;
    --sidebar-border: 205 25% 18%;
    --sidebar-ring: 205 44% 32%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.glassmorphic-card {
  background: rgba(255, 255, 255, 0.1); /* Semi-transparent white */
  backdrop-filter: blur(10px); /* Blurred background */
  -webkit-backdrop-filter: blur(10px); /* For Safari support */
  border-radius: 8px;
  border: 1.8px solid rgba(167, 73, 73, 0.4); /* Light border */
  box-shadow: 5px 10px 10px rgba(70, 41, 122, 0.2); /* Subtle shadow */
}
